<div class="profile-details-container" *ngIf="selectedData">
  <div class="profile-pic-block">
    <div class="profile-pic" [ngStyle]="{ 'background-image': 'url(../../assets/_images/profile-pics/' + selectedData.image + ')'}"></div>
  </div>
  <div class="profile-details">
    <div class="profile-name">{{selectedData.name}}</div>
    <div class="popularity">
      <div class="populatity-title">Popularity</div>
      <div class="populatity-graph">
        <div class="populatity-line"></div>
        <div [style.left]="getMargin()" class="populatity-circle"></div>
      </div>
    </div>
    <div class="biography">
      <div class="biography-title">Biography</div>
      <div class="biography-content">{{selectedData.biography}}</div>
    </div>
  </div>
</div>
