<div class="god-father-container">
  <div class="god-father-listing">
    <div class="god-father-logo"></div>
    <div *ngFor="let godFather of godFatherData"
      [class.selected]="godFather === selectedGodFather"
      [ngClass]="getClass(godFather)"
      (click)="onSelect(godFather)">
      <span class="god-father-listing-name" [ngStyle]="{'font-size.px': (godFather.popularity*7) }">{{godFather.name}}</span>
    </div>
  </div> 
  <div class="god-father-details-block">
    <god-father-detail [selectedData]="selectedGodFather"></god-father-detail>
  </div>
</div>
